<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon generated here: https://favicon.io/favicon-generator/ -->
    <link rel="shortcut icon" href="../../assets/images/favicon-john.ico" type="image/x-icon">
    
    <title>John Form | Invocação do Mal: A Possessão de Valak</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/base.css">
    <link rel="stylesheet" href="../../style/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../style/responsive.css">

    <!-- Local JS -->
    <script src="../../js/script.js"></script>
  </head>
  <body onload="bodyContentFadeIn();">
    <div class="container">
      <header>
        <h1 class="title">Final</h1>
      </header>
      
      <main class="center">
        <section class="text-wrapper box">
          <p class="conversation">
            Você cita o nome Valak uma vez, e começa a citar uma parte da bíblia em latim, isso é o suficiente para o demônio tentar
            fugir daquele cômodo e tentar se esconder. Você corre atrás dele e ele entra em um quarto, uma batida fecha a porta e
            você não consegue entrar junto. Rosaria corre até você e vocês tentam abrir a porta.
          </p>

          <p class="conversation conversation--john">
            <strong class="conversation__name">[JOHN FORM]</strong>
            <span class="conversation__dash">
              Ele está fugindo pois sabe que a nossa fé é inabalável e nada nos impedirá! O sangue de Jesus tem poder e ele sabe
              disso! ABRA ESTÁ PORTA SER MALIGNO, VOLTE PARA O SEU LUGAR!
            </span>
          </p>

          <p class="conversation">
            De repente a porta abre e vocês entram no quarto. A primeira vista vocês não veem nada, apenas um quarto lotado de
            cruzes penduradas nas paredes de cabeça para baixo, e a chuva caindo torrencialmente lá fora.
          </p>

          <p class="conversation">
            De repente um sopro de vente muito forte quebra os vidros das janelas empurrando água e todas as cruzes das paredes no
            chão. Era ele, Valak se rebelava pulando de cima de um guarda roupas que estava ali. Imediatamente John continua seu
            exorcismo nominal, citando o nome do demônio diversas vezes. O demônio vai aos poucos recuando e uma aura escura vai se
            esvaindo do corpo de Brad, que agora passa a ser apenas aquele policial babaca do início novamente.
          </p>

          <p class="conversation conversation--john">
            <strong class="conversation__name">[JOHN FORM]</strong>
            <span class="conversation__dash">
              Não ouse voltar e atormentar a alma dos seres que só querem paz, VALAK, o demônio que agora eu declaro como morto!
            </span>
          </p>

          <p class="conversation">
            Rosaria que no meio disso tudo estava em um canto se escondendo dos cacos de vidros, decide averiguar como está Brad.
          </p>

          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              Ele parece estar bem John, nada de sério aconteceu. Acho que já podemos ficar mais tranquilos.
            </span>
          </p>

          <p class="conversation conversation--john">
            <strong class="conversation__name">[JOHN FORM]</strong>
            <span class="conversation__dash">
              Sim querida, tudo ficou bem graças ao nosso bom senhor.
            </span>
          </p>

          <p class="conversation">
            A história foi contada diversas vezes em suas apresentações e o Brad passou a ser uma pessoa mais interessada no
            sobrenatural, passando a ir todos os dias para a igreja e pregando sobre a existência Dele. Brad largou a farda de
            policia e pretende se tornar padre, enquanto o casal Form continua com seus casos.
          </p>
          <hr>
          <a class="btn" href="../credits.html">Créditos</a>
        </section>
      </main>
    </div>
  </body>
</html>
