<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon generated here: https://favicon.io/favicon-generator/ -->
    <link rel="shortcut icon" href="../../assets/images/favicon-john.ico" type="image/x-icon">
    
    <title>John Form | Invocação do Mal: A Possessão de Valak</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/base.css">
    <link rel="stylesheet" href="../../style/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../style/responsive.css">

    <!-- Local JS -->
    <script src="../../js/script.js"></script>
    <script src="../../js/john.js"></script>
  </head>
  <body onload="bodyContentFadeIn();">
    <div class="container">
      <header>
        <h1 class="title">Fase 1</h1>
      </header>
      
      <main class="center">
        <section class="text-wrapper box">
          <p class="conversation">
            Estava de noite e fazia um frio danado, disso você tinha certeza, e ainda por cima estava chovendo, uma chuva torrencial
            que lavaria até a alma do ser mais vil existente naquele terreno astral. Você estava segurando um guarda chuva, tentando
            proteger da chuva você e principalmente a pessoa que estava abraçada com você ali, a pessoa que você mais considera
            importante na sua vida. Aquela pela qual você daria sua vida sem pensar duas vezes pela dela. Rosaria Form, a pessoa
            mais incrível que você já conheceu e conhecerá.
          </p>

          <p class="conversation">
            Vocês tinham acabado de chegar, depois da ligação meio suspeita de Padre Gordon sobre a situação, e estavam apenas
            olhando para a casa. De repente vocês notam um farol extra vindo da estrada e virando para a casa, uma viatura de
            polícia para perto da casa e um policial fardado com uma capa de chuva sai da viatura.
          </p>
          
          <p class="conversation conversation--john">
            <strong class="conversation__name">[JOHN FORM]</strong>
            <span class="conversation__dash">
              Você ficou sabendo de mais gente que viria por aqui querida, ainda mais policia local, mesmo sabendo das histórias que
              ocorrem por aqui?
            </span>
          </p>

          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              Não faço a menor ideia de quem possa ser, Padre Gordon não comentou nada com a gente sobre. Deve ser ideia daquele
              prefeito metido a sabichão. Você sabe que eu falo assim pois sabe como é perigoso pessoas que não possuem a fé
              necessária para cuidar desses assuntos se envolverem...
            </span>
          </p>

          <p class="conversation">
            O policial se aproxima de vocês e meio brincalhão se apresenta e tenta estender a mão para vocês. Seu nome é Brad
            Hamilton e já nota-se uma certa ignorância em certos assuntos que definitivamente não é nada bom para aquela situação.
          </p>
          
          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              Quem lhe enviou aqui? Não sabe as histórias que são contadas sobre esta casa?
            </span>
          </p>

          <p class="conversation conversation--john">
            <strong class="conversation__name">[JOHN FORM]</strong>
            <span class="conversation__dash">
              Exatamente, a melhor coisa a se fazer nessa situação é você voltar para a sua viatura e dar meia volta. Não queremos
              vítimas a mais por aqui.
            </span>
          </p>

          <p class="conversation conversation--brad">
            <strong class="conversation__name">[BRAD HAMILTON]</strong>
            <span class="conversation__dash">
              Ora, ora os famosos Forms com medinho de uns fantasminhas... Pois fique tranquilo pois a minha .40, vulgo <q>matadora defantasmas</q> 
              dará conta de qualquer um que aparecer na minha frente.
            </span>
          </p>
          <hr>
          <button class="btn" type="button"
            onclick="handleJohnFirstPhaseChoice();"
          >
            Faça sua escolha!
          </button>
        </section>
      </main>
    </div>
  </body>
</html>
