<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon generated here: https://favicon.io/favicon-generator/ -->
    <link rel="shortcut icon" href="../../assets/images/favicon-john.ico" type="image/x-icon">
    
    <title>John Form | Invocação do Mal: A Possessão de Valak</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/base.css">
    <link rel="stylesheet" href="../../style/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../style/responsive.css">

    <!-- Local JS -->
    <script src="../../js/script.js"></script>
    <script src="../../js/john.js"></script>
  </head>
  <body onload="bodyContentFadeIn();">
    <div class="container">
      <header>
        <h1 class="title">Fase 2</h1>
      </header>

      <main class="center">
        <section class="text-wrapper box">
          <p class="conversation conversation--john">
            <strong class="conversation__name">[JOHN FORM]</strong>
            <span class="conversation__dash">
              Tudo bem então sabichão, você poderá adentrar no recanto do inferno, mas depois não diga não avisei. E muito cuidado com
              essa sua companheira fútil. Não queremos perturbar o que não quer e não pode ser perturbado antes da hora.
            </span>
          </p>

          <p class="conversation conversation--brad">
            <strong class="conversation__name">[BRAD HAMILTON]</strong>
            <span class="conversation__dash">
              Da hora? Que hora? Nada acontecerá, apenas me siga, conheço este lugar de cabo a rabo.
            </span>
          </p>

          <p class="conversation">
            Brad decide então <q>assumir</q> a investigação e vocês entram na casa. Eles se encontram no primeiro cômodo, que parece
            tudo menos um cômodo de uma casa, a bagunça ali está terrível. Assim que todos entram na casa porta atrás de vocês se
            fecham com um estrondo. Você tenta correr pra ela para tentar forçá-la mas nada, ela está totalmente trancada. De
            repente você nota que a Rosaria começa a passar mal, e isso não é bom, é uma de suas visões. Brad fica assustado com o
            que tá acontecendo e de repente puxa a arma em direção a Rosaria, você sem entender nada, começa a berrar para Brad
            abaixar a arma.
          </p>

          <p class="conversation">
            Mas infelizmente aquele não é mais Brad, o que quer que esteja ali, agora possui controle total do corpo daquele
            policial. Foi tudo muito rápido. A primeira coisa que você pensou em fazer foi tentar exorcizar aquele ser maligno dali,
            mas nada funcionava, nem o crucifixo, nem água benta, sua oração não era nada. Aquilo era algo maior.
            <br>
            Sem alternativas, você pensa em fazer duas coisas, visando o que estava acontecendo:
          </p>
          <hr>
          <button class="btn" type="button"
            onclick="handleJohnSecondPhaseChoice();"
          >
            Faça sua escolha!
          </button>
        </section>
      </main>
    </div>
  </body>
</html>
