<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon generated here: https://favicon.io/favicon-generator/ -->
    <link rel="shortcut icon" href="../../assets/images/favicon-john.ico" type="image/x-icon">
    
    <title>John Form | Invocação do Mal: A Possessão de Valak</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/base.css">
    <link rel="stylesheet" href="../../style/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../style/responsive.css">

    <!-- Local JS -->
    <script src="../../js/script.js"></script>
    <script src="../../js/John.js"></script>
  </head>
  <body onload="bodyContentFadeIn();">
    <div class="container">
      <header>
        <h1 class="title">Fase 3</h1>
      </header>

      <main class="center">
        <section class="text-wrapper box">
          <p class="conversation">
            Você nota que Rosaria está se recompondo, e o ser que Brad se tornou está rindo e se debatendo enquanto segura a arma,
            como se alguém estivesse lutando com ele internamente, e estava. John decide verificar como Rosaria está e ela começa a
            contar algumas coisas sem sentido que ela viu em suas visões, um senhor cantarolando três letras: <strong>VLK</strong>, repetidamente e
            também sobre uma charada estranha que ele não entendeu muito bem.
          </p>

          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              Foi exatamente isso Josh, tem que ter algo a ver com o que está acontecendo agora com Brad e o ser que ronda está casa.
              A charada era: <strong><q>Eu sou dado e sou tomado. Eu estava lá no seu primeiro suspiro. Você não pediu, mas eu sigo
              você até a morte"</q></strong>. Eu só consigo me lembrar disso e depois fica tudo escuro.
            </span>
          </p>

          <p class="conversation conversation--john">
            <strong class="conversation__name">[JOHN FORM]</strong>
            <span class="conversation__dash">
              Sim querida, faz sentido, mas o que poderia ser isso? Temos que descobrir rápido antes que o demônio volte e continue
              com o seu plano de nos transformar em um ralado de queijo!
            </span>
          </p>

          <p class="conversation">
            Você nota que letras <q><strong>A</strong></q>s estão espalhadas pelas paredes escritas a sangue, e então como num passe
            de mágica, tudo se clareia, a chuva fica lenta e você está transcendendo, todo aquele estudo sobre demonologia serviu
            para algo, você precisa executar um exorcismo nominal, o único jeito de exterminar aquele ser para todo o sempre. Então
            com a charada em mãos e as letras <q><strong>A</strong></q>s escritas nas paredes você decide chamar pelo nome do demônio.
          </p>
          <hr>
          <button class="btn" type="button"
            onclick="handleJohnThirdPhaseChoice();"
          >
            Faça sua escolha!
          </button>
        </section>
      </main>
    </div>
  </body>
</html>
