<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon generated here: https://favicon.io/favicon-generator/ -->
    <link rel="shortcut icon" href="../../assets/images/favicon-brad.ico" type="image/x-icon">
    
    <title>Brad Hamilton | Invocação do Mal: A Possessão de Valak</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/base.css">
    <link rel="stylesheet" href="../../style/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../style/responsive.css">

    <!-- Local JS -->
    <script src="../../js/script.js"></script>
  </head>
  <body onload="bodyContentFadeIn();">
    <div class="container">
      <header>
        <h1 class="title">Final</h1>
      </header>
      
      <main class="center">
        <section class="text-wrapper box">
          <p class="conversation">
            Um sentimento de terror. Aquele era o sentimento que descrevia exatamente o que Brad estava sentindo no momento, suado,
            recuado em um canto do mesmo cômodo que ele havia adentrado, ainda com suas cruzes, porém elas estavam jogadas no chão,
            e tudo ali estava destruído, como se um furacão tivesse varrido aquele lugar.
          </p>
  
          <p class="conversation">
            Com a voz trêmula e assustada, Brad pergunta para o casal Form, que se encontrava ali no chão também, quase que no mesmo
            estado ou até pior que o dele:
          </p>
  
          <p class="conversation conversation--brad">
            <strong class="conversation__name">[BRAD HAMILTON]</strong>
            <span class="conversation__dash">
              O-o-o quê? O-o que aconteceu? Minha cabeça dói...
            </span>
          </p>
  
          <p class="conversation conversation--john">
            <strong class="conversation__name">[JOHN FORM]</strong>
            <span class="conversation__dash">
              Apenas o que eu já suspeitava que ia acontecer desde o início, uma alma fraca e sem fé não pode e não deve se aproximar
              desses lugares. Você foi apenas uma pedra em nossos sapatos, mas graças a isso conseguimos deter o demônio <strong>VALAK</strong>!
            </span>
          </p>
  
          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              Não seja tão rude com ele amor, ele foi a isca perfeita para o nosso plano. Mas no final das contas tudo fez sentido, as
              letras <strong>"VLK"</strong>, e essas letras <strong>"A"s</strong> aqui nestas paredes, a charada passada pelo espírito que agora descansa em paz, um
              pouco de estudo sobre nomes de demônios e seus efeitos e você tem o <em>exorcismo nominal</em>, aquele que é dado quando você
              precisa saber o nome do demônio para poder exorcizá-lo. No final das contas descobrimos que Valak era quem assombrava
              esta casa.
            </span>
          </p>
  
          <p class="conversation conversation--john">
            <strong class="conversation__name">[JOHN FORM]</strong>
            <span class="conversation__dash">
              Sim! E tudo graças a você querida, você foi incrível.
            </span>
          </p>
  
          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              O exorcismo executado aqui por você merece todo o crédito, não foi fácil, mas eu estou muito orgulhosa.
            </span>
          </p>
  
          <p class="conversation conversation--brad">
            <strong class="conversation__name">[BRAD HAMILTON]</strong>
            <span class="conversation__dash">
              Espera, eu fui possuído por um demônio e não consigo lembrar de nada, então não aconteceu, me recuso a acreditar nessas
              historinhas!
            </span>
          </p>
  
          <p class="conversation">
            Cansados e exaustos após o ocorrido, o casal Form decide ignorar e os três saem da <strong>casa demoníaca</strong> e
            voltam para a cidade na viatura de Brad e vão direto para o hospital. Brad é encontrado morto depois de uma semana do
            ocorrido, a causa da morte ainda é desconhecida mas suspeita-se de suicido causado por <strong>possessão demoníaca</strong>.
          </p>
          <hr>
          <a class="btn" href="../credits.html">Créditos</a>
        </section>
      </main>
    </div>
  </body>
</html>
