<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon generated here: https://favicon.io/favicon-generator/ -->
    <link rel="shortcut icon" href="../../assets/images/favicon-brad.ico" type="image/x-icon">
    
    <title>Brad Hamilton | Invocação do Mal: A Possessão de Valak</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/base.css">
    <link rel="stylesheet" href="../../style/style.css">

    <!-- Local JS -->
    <script src="../../js/script.js"></script>
    <script src="../../js/brad.js"></script>
  </head>
  <body onload="bodyContentFadeIn();">
    <div class="container">
      <main class="center">
        <section class="text-wrapper box">
          <p class="conversation">
            Você decide ficar pelos arredores da casa, agora que a chuva decidiu cessar, ao lado da viatura que o levou até ali, com
            o pisca alerta aceso enquanto vê o casal Form adentrando a casa. Após algum tempo de silêncio e sem grandes novidades,
            você decide relaxar um pouco e beber um suco de laranja que você trouxe na viatura, que a essa altura já deve estar
            quente...
          </p>
          
          <p class="conversation">
            Eis que assim que você pega o copo com suco, alguma coisa o segura pelo pescoço, você solta o copo de suco e tenta
            desesperadamente puxar sua arma do coldre, você consegue alcançá-la e começa a disparar para todos os cantos mas sem
            sucesso até as balas acabarem, aquilo continua te sufocando e marcas de dedos roxas começam a surgir no seu corpo como
            se algo o tivesse tomando controle e aos poucos você começa a ficar inconsciente até a mais total e obscura escuridão.
          </p>
          
          <p class="conversation">
            Antes de apagar totalmente você ouve uma voz no seu subconsciente:
          </p>
          
          <p class="conversation conversation--valak">
            <strong class="conversation__name">[VALAK]</strong>
            <span class="conversation__dash">
              Enfim uma alma sem fé disposta a me servir...
            </span>
          </p>
  
          <p class="gameover">
            Game<br>over
          </p>
          <hr>
          <div class="buttons">
            <button class="btn" type="button"
              onclick="playAudio('../../assets/audios/evil-laugh.mp3');
                       redirectAfterTimeout(5800, 'first-phase.html');"
            >
              Jogar novamente
            </button>
            <button class="btn" type="button"
              onclick="playAudio('../../assets/audios/evil-laugh.mp3');
                       redirectAfterTimeout(5800, '../characters.html');"
            >
              Voltar para o início
            </button>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
