<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon generated here: https://favicon.io/favicon-generator/ -->
    <link rel="shortcut icon" href="../../assets/images/favicon-brad.ico" type="image/x-icon">
    
    <title>Brad Hamilton | Invocação do Mal: A Possessão de Valak</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/base.css">
    <link rel="stylesheet" href="../../style/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../style/responsive.css">

    <!-- Local JS -->
    <script src="../../js/script.js"></script>
    <script src="../../js/brad.js"></script>
  </head>
  <body onload="bodyContentFadeIn();">
    <div class="container">
      <header>
        <h1 class="title">Poslúdio</h1>
      </header>

      <main class="center">
        <section class="text-wrapper box">
          <p class="conversation">
            Você corre para a porta mais próxima, desesperado com o que você acabou de ver e ouvir, quase morrendo no processo. Ela está
            à direita de você e imediatamente após você entrar, ela é trancada com um estrondo gigantesco e atrás vozes gritando seu
            nome, provavelmente Rosaria e John.
          </p>
  
          <p class="conversation">
            Você se encontra num quarto cheio de cruzes penduradas nas paredes, porém essas cruzes estão de cabeça para baixo.
            A atmosfera ali é densa e você nota que existem algumas letras <strong>"A"s</strong> escritas nas paredes com sangue. Aquilo com certeza
            não é bom, e você não consegue sair dali de forma alguma.
          </p>
  
          <p class="conversation">
            Aquela sensação de frio novamente o toma de surpresa, e de repente um demônio num formato horrendo sai de um canto que
            estava escuro do cômodo, ele vem para cima de você meio que voando e com a mão aberta e você não tem nenhuma reação,
            além de colocar as mãos para proteger o rosto e fechar os olhos. Nada acontece e você abre os olhos. Uma ilusão?
          </p>
  
          <p class="conversation">
            Você começa a se sentir repentinamente zonzo, com uma sensação de vômito e do nada marcas roxas de dedos começam a
            surgir em seus pulsos, e uma sensação estranha de não estar conseguindo respirar, mesmo estando. Valak se rebela e
            assume o controle do seu corpo e de todas as ações que você vai tomar a partir daqui. Sua mente está acordada mas não há
            nada que você possa fazer além de respeitar as vontades daquele ser vil.
          </p>
          
          <p class="conversation conversation--valak">
            <strong class="conversation__name">[VALAK]</strong>
            <span class="conversation__dash">
              Vamos meu fiel súdito, finja ser o que você não é e mate aqueles que tentam usurpar o meu lugar de direito, aquele
              casalzinho que pensa que pode me deter com suas orações e águas bentas. Esperaremos o momento certo para se revelar e
              mataremos ambos!
            </span>
          </p>
          <hr>
          <button class="btn" type="button"
            onclick="playAudio('../../assets/audios/evil-laugh.mp3');
                     redirectAfterTimeout(5800, 'final-phase.html');"
          >
            Continuar
          </button>
        </section>
      </main>
    </div>
  </body>
</html>
