<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon generated here: https://favicon.io/favicon-generator/ -->
    <link rel="shortcut icon" href="../../assets/images/favicon-brad.ico" type="image/x-icon">
    
    <title>Brad Hamilton | Invocação do Mal: A Possessão de Valak</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/base.css">
    <link rel="stylesheet" href="../../style/style.css">

    <!-- Local JS -->
    <script src="../../js/script.js"></script>
    <script src="../../js/brad.js"></script>
  </head>
  <body onload="bodyContentFadeIn();">
    <div class="container">
      <header>
        <h1 class="title">Fase 2</h1>
      </header>

      <main class="center">
        <section class="text-wrapper box">
          <p class="conversation">
            Você decide enfrentar o desconhecido e junto com os Form, entra na casa demoníaca com armas em punho. Imediatamente a
            porta atrás de vocês fecha. Vocês se deparam com o primeiro cômodo da casa, provavelmente a sala, fica um pouco confuso
            saber qual o cômodo certo com tanta poeira e bagunça se acumulando por tanto tempo, você percebe que tem algo errado mas
            não sabe exatamente o quê e decide deixar pra lá.
          </p>
  
          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              Parece haver algum mal rondando este cômodo, eu consigo sentir, observando e esperando o momento certo para possuir
              algum ser de alma fraca, tomem cuidado.
            </span>
          </p>
          
          <p class="conversation">
            Rosaria segura firme a mão de John e vice-versa, ele sabe que ela provavelmente vai começara a ter visões e isso pode
            não ser o momento mais propenso.
          </p>
  
          <p class="conversation conversation--john">
            <strong class="conversation__name">[JOHN FORM]</strong>
            <span class="conversation__dash">
              Tá tudo bem querida, eu estou com você. Brad, abaixe essa arma imediatamente, não perturbe o que não pode e não quer ser
              perturbado, você não sabe com o que está brincando, e nem nós.
            </span>
          </p>
  
          <p class="conversation conversation--brad">
            <strong class="conversation__name">[BRAD HAMILTON]</strong>
            <span class="conversation__dash">
              Sério? De novo com essa historinha? O que você tem contra a minha MATADORA DE FANTASMAS? Só porque eu posso acabar com o
              nosso problema com uma bala enquanto você se segura nesse crucifixo em seu pescoço como se isso fosse te proteger de
              algo? A melhor defesa é sempre o ataque!
            </span>
          </p>
  
          <p class="conversation">
            E Brad atira para um lado do cômodo sem motivo algum, como que para provocar John, com o seu egocentrismo cego.
          </p>
  
          <p class="conversation conversation--john">
            <strong class="conversation__name">[JOHN FORM]</strong>
            <span class="conversation__dash">
              BRAD! NÃO!!! O QUE VOCÊ FEZ? Solte essa arma agora!
            </span>
          </p>
          <hr>
          <button class="btn" type="button"
            onclick="handleBradSecondPhaseChoice();"
          >
            Faça sua escolha!
          </button>
        </section>
      </main>
    </div>
  </body>
</html>
