<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon generated here: https://favicon.io/favicon-generator/ -->
    <link rel="shortcut icon" href="../../assets/images/favicon-brad.ico" type="image/x-icon">
    
    <title>Brad Hamilton | Invocação do Mal: A Possessão de Valak</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/base.css">
    <link rel="stylesheet" href="../../style/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../style/responsive.css">

    <!-- Local JS -->
    <script src="../../js/script.js"></script>
    <script src="../../js/brad.js"></script>
  </head>
  <body onload="bodyContentFadeIn();">
    <div class="container">
      <main class="center">
        <section class="text-wrapper box">
          <p class="conversation">
            Você quer continuar segurando a matadora de fantasmas, desafiando seja lá o que está ali, até porque nada aconteceu até
            agora, e com esse pensamento atira mais uma vez e para cima. John Form tenta correr pra cima de você para retirar a arma
            de sua mão, mas algo acontece com Rosaria e ele volta imediatamente a atenção para ela. Ela parece ter desmaiado mas
            John diz que é algo que acontece quando ela tem visões de possíveis demônios e almas que estão por perto.
          </p>
  
          <p class="conversation">
            Sabendo disso você imediatamente percebe que pode ter feito algo de muito errado, e antes que você tente guardar a arma
            e consertar sua burrada, você é possuído pelo demônio <strong>Valak</strong>, foi um sentimento tão incerto e tão rápido que você só
            consegue ouvir ao fundo uma voz, antes de desmaiar completamente:
          </p>
  
          <p class="conversation conversation--valak">
            <strong class="conversation__name">[VALAK]</strong>
            <span class="conversation__dash">
              Uma alma sem fé e burra, perfeito para um servo obediente.
            </span>
          </p>

          <p class="gameover">
            Game<br>over
          </p>
          <hr>
          <div class="buttons">
            <button class="btn" type="button"
              onclick="playAudio('../../assets/audios/evil-laugh.mp3');
                       redirectAfterTimeout(5800, 'second-phase.html');"
            >
              Jogar novamente
            </button>
            <button class="btn" type="button"
              onclick="playAudio('../../assets/audios/evil-laugh.mp3');
                       redirectAfterTimeout(5800, '../characters.html');"
            >
              Voltar para o início
            </button>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
