<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Brad Hamilton | Invocação do Mal: A Possessão de Valak</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/base.css">
    <link rel="stylesheet" href="../../style/style.css">

    <!-- Local JS -->
    <script src="../../js/script.js"></script>
  </head>
  <body>
    <section>
      <h1 class="title">Fase 2</h1>

      <article class="conversation">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod quo pariatur adipisci laborum eum excepturi perferendis
        iusto! Corrupti culpa, doloremque nisi molestiae voluptate, maiores quibusdam omnis nam veniam magnam aliquid.
      </article>

      <button class="btn" type="button"
        onmouseover="playAudio('../../assets/audios/evil-laugh.mp3');"
      >
        Faça sua escolha!
      </button>
    </section>
  </body>
</html>
