<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon generated here: https://favicon.io/favicon-generator/ -->
    <link rel="shortcut icon" href="../../assets/images/favicon-brad.ico" type="image/x-icon">
    
    <title>Brad Hamilton | Invocação do Mal: A Possessão de Valak</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/base.css">
    <link rel="stylesheet" href="../../style/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../style/responsive.css">

    <!-- Local JS -->
    <script src="../../js/script.js"></script>
    <script src="../../js/brad.js"></script>
  </head>
  <body onload="bodyContentFadeIn();">
    <div class="container">
      <header>
        <h1 class="title">Fase 3</h1>
      </header>

      <main class="center">
        <section class="text-wrapper box">
          <p class="conversation">
            Você abaixa sua arma e decide guardar ela no coldre novamente, suas mãos começam a tremer repentinamente, você olha para
            elas e depois desvia a sua atenção para o casal Form, e percebe que Rosaria está nos braços de John aparentemente
            desmaiada enquanto o mesmo segura com força em sua mão direita seu crucifixo para frente, como que tentando afastar
            aquele sentimento estranho que estava rondando o cômodo que Brad nunca tinha sentido antes.
          </p>
  
          <p class="conversation conversation--brad">
            <strong class="conversation__name">[BRAD HAMILTON]</strong>
            <span class="conversation__dash">
              O que está acontecendo? Porque ela está desmaiada? E que sensação é essa? Estamos no inverno mas a temperatura está
              absolutamente abaixo do considerado aceitável!
            </span>
          </p>
  
          <p class="conversation conversation--john">
            <strong class="conversation__name">[JOHN FORM]</strong>
            <span class="conversation__dash">
              Parabéns por seu teatro sem sentido, parece haver mais do que o mal rondando este lugar, algo além do inimaginável, e o
              Padre Gordon permite que o prefeito envie uma pessoa totalmente incrédula e ainda por cima burra para nos <q>proteger</q>. A
              Rosaria está bem, só está tendo uma de suas visões, tentando se comunicar com o que quer que esteja rondando este lugar.
              Agora fique atento e não faça mais burradas!
            </span>
          </p>
  
          <p class="conversation">
            De repente, Rosaria Form levanta como se estivesse sendo controlada por algo, foi tão repentino quanto foi quando ela
            desmaiou, mas ela corre para cima de Brad e retira um canivete do cinto de Brad. Brad sem reação automaticamente
            levanta seus braços como se ele tivesse se esquecido de seu treinamento militar para se tornar um policial. Rosaria
            ataca Brad com o canivete, Brad consegue desviar, mas aparentemente ela estava mirando na parede e nela escreve,
            lentamente, 3 letras: <strong>VLK</strong>.
            <br>
            Imediatamente Rosaria volta para a realidade, enquanto John corre para perguntar como ela estava. Ela diz estar bem e os
            três ficam olhando para o que estava escrito na parede.
          </p>
  
          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              Não consigo lembrar de muita coisa, mas me lembro destas letras e também de ter conversado com uma pobre alma que ronda
              esta casa, as únicas palavras que ela me disse foram: "Eu sou dado e sou tomado. Eu estava lá no seu primeiro suspiro.
              Você não pediu, mas eu sigo você até a morte". Tem que haver alguma explicação para isso tudo!
            </span>
          </p>
  
          <p class="conversation">
            Brad sem entender absolutamente nada do que estava acontecendo e totalmente assustado decide tomar uma decisão
            equivocada e sai correndo daquela casa, para onde? Nem ele sabia mais.
          </p>
          <hr>
          <button class="btn" type="button"
            onclick="handleBradThirdPhaseChoice();"
          >
            Faça sua escolha!
          </button>
        </section>
      </main>
    </div>
  </body>
</html>
