:root {
  --ff-slabo-400: 'Slabo 13px', serif;
  --ff-special-elite-400: 'Special Elite', cursive;

  --clr-ruby-red: #a4161a;
  --clr-blood-red: #660708;
  --clr-imperial-red: #e5383b;
  --clr-eerie-black-bgc: rgba(22, 26, 29, .8);
  --clr-light-gray: #d3d3d3;
  --clr-flame: #eb5e28;
  --clr-prussian-blue: #4361ee;
  --clr-honey-yellow: #ffb703;

  --clr-white: #fff;
  --clr-black: #000;
  --clr-black-film: rgba(0, 0, 0, .5);

  --padding-30: 1.875rem;
  --gap-10: .625rem;
  --w-250: 15.625rem;
}

html { scroll-behavior: smooth; }

body {
  font-family: var(--ff-slabo-400);
  color: var(--clr-white);
  background: var(--clr-black-film) url(../assets/images/old-hogdson-house.jpg) center/cover no-repeat;
  transition: opacity 400ms ease-in;
  opacity: 0;
}

img {
  display: block;
  max-width: 100%;
}

strong { font-weight: 700; }

em { font-style: italic; }

hr {
  width: 50%;
  opacity: .5;
  border-top: 1px solid var(--clr-light-gray);
}
