/**
 * General styles that are used in every page.
 */

 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: var(--padding-30) 2.5rem;
  gap: calc(2 * var(--gap-10));
  background-color: var(--clr-black-film);
}

.btn {
  display: inline-block;
  padding: .4em .4em .25em;
  font: 1.25rem /* 20px */ var(--ff-special-elite-400);
  color: var(--clr-white);
  background-color: var(--clr-ruby-red);
  cursor: pointer;
  box-shadow: 0 0 1px 1px var(--clr-black);
  transition: 250ms;
}

.btn:hover,
.btn:focus {
  background-color: var(--clr-blood-red);
  transform: scale(1.03);
}

.btn.btn--large { font-size: 30px; }

.btn#btn-audio {
  position: fixed;
  top: .75em;
  right: 1em;
}

.title {
  padding-top: .125em;
  font: 2.5rem /* 40px */ var(--ff-special-elite-400);
  font-weight: 700;
  text-align: center;
  color: var(--clr-blood-red);
  text-shadow: 0 0 .05em var(--clr-white);
}

.title.title--small { font-size: 1.25rem; /* 20px */ }

.title.title--game {
  font-size: 3rem; /* 48px */
  line-height: 1em;
}

.box {
  padding: var(--padding-30);
  gap: calc(2 * var(--gap-10));
  background-color: var(--clr-eerie-black-bgc);
  box-shadow: 0 0 2px 1px var(--clr-black);
}

.gameover {
  display: inline-block;
  padding: .625em;
  font: 3rem /* 48px */ var(--ff-special-elite-400);
  font-weight: 700;
  color: var(--clr-ruby-red);
  line-height: 1em;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-shadow: .0625em .0625em .0625em var(--clr-black);
  background-color: var(--clr-light-gray);
  box-shadow: .10417em .10417em .0625em var(--clr-black);
  border: 5px solid var(--clr-ruby-red);
  transform: rotate(-20deg);
  transition: 300ms cubic-bezier(.3,-1.1,.96,2.53);
}

.gameover:hover { transform: scale(1.5); }

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}

.text-wrapper > .gameover {
  align-self: center;
  margin-top: .625em;
  margin-bottom: .625em;
}

.text-wrapper__content {
  font-size: 1rem; /* 16px */
  line-height: 1.1em;
}

.text-wrapper__content:first-child::first-letter {
  margin-right: .02em;
  font-size: 2em; /* 32px */
  font-weight: 700;
}

.text-wrapper__content a {
  color: var(--clr-imperial-red);
  transition: 250ms ease-in;
}

.text-wrapper__content a:hover,
.text-wrapper__content a:focus { color: var(--clr-ruby-red); }

.conversation {
  font-size: 1rem; /* 16px */
  line-height: 1.1em;
}

.conversation.conversation--rosaria { color: var(--clr-imperial-red); }
.conversation.conversation--john { color: var(--clr-prussian-blue); }
.conversation.conversation--brad { color: var(--clr-flame); }
.conversation.conversation--valak { color: var(--clr-honey-yellow); }

.conversation__name {
  display: block;
  margin-bottom: .1875em;
  text-transform: uppercase;
}

.conversation__dash::before { content: "—"; }

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: calc(2 * var(--gap-10));
}

.buttons__medias {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-10);
}


/**
 * Index page
 */

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/**
 * Characters page
 */

.chars-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chars-wrapper__char {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  padding: var(--gap-10);
  width: var(--w-250);
  border: 1px solid var(--clr-light-gray);
}

.chars-wrapper__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  gap: var(--gap-10);
}

.chars-wrapper__content p {
  margin-top: .36em;
  font-size: .875rem; /* 14px */
  line-height: 1.1em;
}


/**
 * Helpers
 */

.fade-in { opacity: 1; }

.center {
  display: flex;
  justify-content: center;
}

.w-100 { width: 100%; }
