<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Personagens | Invocação do Mal: A Possessão de Valak</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/style.css">
  </head>
  <body>
    <section>
      <h1 class="title">Personagens</h1>
      
      <div class="chars-wrapper">
        <figure class="chars-wrapper__char">
          <img src="https://via.placeholder.com/250/" alt="Imagem de Rosaria Form">
          
          <figcaption class="chars-wrapper__content">
            <h2 class="title--small">Rosaria Form</h2>
            <p>
              <strong>Rosaria Form</strong>, 28 anos, católica, casada com <strong>John Form</strong>. Rosaria é uma talentosa vidente e renomada investigadora do
              paranormal. Reconhecida mundialmente por ter resolvido casos misteriosos inexplicáveis anteriormente em sua carreira.
              Com sua fé inabalável e uma força de intuição nunca antes vista, ela segue ao lado de seu marido resolvendo casos
              paranormais por todo o mundo.
            </p>
            <a class="btn" href="rosaria/first-phase.html">Escolher</a>
          </figcaption>
        </figure> <!-- .chars-wrapper__char -->

        <figure class="chars-wrapper__char">
          <img src="https://via.placeholder.com/250/" alt="Imagem de John Form">
          
          <figcaption class="chars-wrapper__content">
            <h2 class="title--small">John Form</h2>
            <p>
              <strong>John Form</strong>, 30 anos, católico, casado com <strong>Rosaria Form</strong>. John é um cientista demonólogo não ordenado que é reconhecido
              pela <em>igreja Católica</em>. Está sempre ao lado de sua esposa, Rosaria, em casos paranormais. John é reconhecido por
              realizar com sucesso exorcismos em casos de possessão demoníaca, mesmo não sendo um padre. Com o seu crucifixo no
              pescoço e com sua fé, ele sempre tenta tomar boas decisões nos momentos certos.
            </p>
            <a class="btn" href="john/first-phase.html">Escolher</a>
          </figcaption>
        </figure> <!-- .chars-wrapper__char -->

        <figure class="chars-wrapper__char">
          <img src="https://via.placeholder.com/250/" alt="Imagem de Brad Hamilton">
          
          <figcaption class="chars-wrapper__content">
            <h2 class="title--small">Brad Hamilton</h2>
            <p>
              Brad Hamilton, 28 anos, ateu agnóstico, solteiro. Brad trabalha no departamento de polícia de Harrisville, é teimoso e
              age por instinto. Acredita que a sua arma sempre o protegerá independente do inimigo e não acredita em espíritos
              demoníacos e nada relacionado com o paranormal.
            </p>
            <a class="btn" href="brad/first-phase.html">Escolher</a>
          </figcaption>
        </figure> <!-- .chars-wrapper__char -->
      </div> <!-- .char-wrapper -->
    </section>
  </body>
</html>
