<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon generated here: https://favicon.io/favicon-generator/ -->
    <link rel="shortcut icon" href="../../assets/images/favicon-rosaria.ico" type="image/x-icon">
    
    <title>Rosaria Form | Invocação do Mal: A Possessão de Valak</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/base.css">
    <link rel="stylesheet" href="../../style/style.css">

    <!-- Local JS -->
    <script src="../../js/script.js"></script>
  </head>
  <body onload="bodyContentFadeIn();">
    <div class="container">
      <header>
        <h1 class="title">Final</h1>
      </header>
      
      <main class="center">
        <section class="text-wrapper box">
          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              Vamos ficar juntos e procurar por Brad, acredito que seja a melhor coisa no momento, até porquê a essa altura eu só
              consigo imaginar o pior, o que é bom já que conseguiremos dessa forma eliminar o demônio que ronda esta casa. Vamos para
              o lado que ele foi.
            </span>
          </p>

          <p class="conversation conversation--john">
            <strong class="conversation__name">[JOHN FORM]</strong>
            <span class="conversation__dash">
              Tudo bem, ele foi por ali.
            </span>
          </p>

          <p class="conversation">
            John aponta para o lado em que Brad correu e ambos vão para lá. A chuva naquele ponto continuava a cair torrencialmente.
            Naquele cômodo da casa não tinha muitas opção para onde ir, apenas uma porta que se encontrava aberta e foi pra lá que
            eles decidiram ir. Ao se aproximarem da porta, antes de adentrarem, ela é trancada do nada com uma força incrível. Nesse
            momento John decide tentar empurrar a porta, mas sem sucesso, eles então decidem começar a gritar pelo nome de Brad e a
            baterem na porta.
          </p>

          <p class="conversation">
            Como num passe de mágica a porta se abre e eles entram desesperados, o que eles encontram ali é a figura de Brad
            Hamilton parada, calma, e olhando para fora pela janela, com a chuva caindo desesperadamente lá fora. Rosaria logo
            começa a sentir algo estava muito estranho, e John também tinha percebido. A atmosfera ali naquele cômodo estava densa e
            diferente, tinha várias cruzes penduradas de cabeça para baixo e também letras <q><strong>A</strong></q>s espalhadas
            pelas paredes, e o Brad que eles encontraram ali não se parecia em nada com o que eles tinham conhecido há alguns
            minutos atrás.
          </p>

          <p class="conversation">
            Brad olha para o casal e sorri maleficamente, e logo em seguida ergue uma faca e corre para cima de você, como se só
            você estivesse ali. Você começa a se sentir tonta, mas como num quebra cabeças as coisas começam a se encaixar, as
            letras <q><strong>VLK</strong></q> e os <q><strong>A</strong></q>s ali espalhados, só poderia ser aquilo.
          </p>

          <p class="conversation">
            No mesmo momento John decide segurar Brad e consegue jogá-lo em uma das paredes, um som estrondoso e um vento
            incrivelmente forte fazem as janelas quebrarem e as cruzes caírem das paredes, John começa a brigar espiritualmente com
            o demônio, erguendo seu crucifixo contra aquele ser e citando umas passagem em latim da bíblia mas nada parecia ter
            efeito.
          </p>

          <p class="conversation conversation--valak">
            <strong class="conversation__name">[VALAK]</strong>
            <span class="conversation__dash">
              Vocês não conseguirão me derrotar seres inferiores, eu sou o que sou e nada me impedirá!
            </span>
          </p>

          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              John! Lembrei! Esse é um dos demônios que só conseguem ser exorcizados se chamar seu nome, faça um exorcismo nominal
              nele imediatamente! Seu nome é <strong>VALAK</strong> e ele não tem o direito de estar entre nós.
            </span>
          </p>

          <p class="conversation">
            John imediatamente invoca o exorcismo e o demônio começa a ficar incomodado, como se ele estivesse lutando para se
            manter ali no corpo de Brad. Aos poucos Brad começa a voltar e o demônio começa a se "desfazer" dali, gritando
            estridentemente até sumir para todo o sempre, devolvendo a paz para os espíritos que estavam sendo atormentados por
            aquele ser.
          </p>

          <p class="conversation">
            Brad cai no chão desacordado e John corre para verificar se ele estava bem. Você vai para perto de ambos e fica ali
            observando em silêncio e pensando em tudo o que aconteceu. A charada era essa, o nome do demônio era a chave!
            <br>
            A história é repassa e contada em todo o mundo, e a cidade de Harrisville volta para a sua paz de cidade do interior,
            por enquanto...
          </p>
          <hr>
          <a class="btn" href="../credits.html">Créditos</a>
        </section>
      </main>
    </div>
  </body>
</html>
