<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon generated here: https://favicon.io/favicon-generator/ -->
    <link rel="shortcut icon" href="../../assets/images/favicon-rosaria.ico" type="image/x-icon">
    
    <title>Rosaria Form | Invocação do Mal: A Possessão de Valak</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/base.css">
    <link rel="stylesheet" href="../../style/style.css">

    <!-- Local JS -->
    <script src="../../js/script.js"></script>
    <script src="../../js/rosaria.js"></script>
  </head>
  <body onload="bodyContentFadeIn();">
    <div class="container">
      <main class="center">
        <section class="text-wrapper box">
          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              Vamos até lá ver quem pode ser, e do porquê de estar ali. Isso tá muito estranho realmente.
            </span>
          </p>

          <p class="conversation">
            Em meio à chuva e ao lamaçal que se acumulou por ali, Rosaria e John Form decidem ir até o carro ver quem poderia ser.
          </p>

          <p class="conversation">
            Eis que de repente, no meio do caminho, a porta do carro se abre. Mas ninguém sai de lá. Rosaria Form começa a sentir um
            pouco zonza e imediatamente John a segura para que ela não caia no chão. A atmosfera do lugar fica pesada e sufocante e
            imediatamente após esse mal estar, um ser que parece um policial é visto em cima da viatura do carro, parece estar
            segurando algo, mas naquela escuridão é difícil distinguir as coisas.
          </p>

          <p class="conversation">
            Ele solta um grito estridente, e após isso um raio corta os céus e John Form consegue distinguir o que era o ser e o que
            ele segurava: uma <strong>.40</strong>, apontando diretamente para Rosaria.
          </p>

          <p class="conversation">
            Rosaria se recompõe um pouco notando aquilo, e decide enfrentar aquele ser maligno que estava perturbando a alma do
            pobre policial. Porém, antes que ela pudesse puxar seu crucifixo, o policial possuído começa atirar desesperadamente,
            bala após bala, e Rosaria é atingida, uma, duas, três vezes, e John Form vendo aquilo fica desesperado e tenta entrar na
            frente de sua amada e também é atingido várias vezes.
          </p>

          <p class="conversation">
            Porém é tarde para isso, ambos acabam falecendo perante o mal e uma risada maligna no meio da noite é ouvida antes do
            casal Form se abraçarem e fecharem os olhos para sempre.
          </p>

          <p class="conversation conversation--valak">
            <strong class="conversation__name">[VALAK]</strong>
            <span class="conversation__dash">
              Não perturbem o que não quer ser perturbado, seres inferiores!
            </span>
          </p>

          <p class="gameover">
            Game<br>over
          </p>
          <hr>
          <div class="buttons">
            <button class="btn" type="button"
              onclick="playAudio('../../assets/audios/evil-laugh.mp3');
                       redirectAfterTimeout(5800, 'first-phase.html');"
            >
              Jogar novamente
            </button>
            <button class="btn" type="button"
              onclick="playAudio('../../assets/audios/evil-laugh.mp3');
                       redirectAfterTimeout(5800, '../characters.html');"
            >
              Voltar para o início
            </button>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
