<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Rosaria Form | Invocação do Mal: A Possessão de Valak</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/base.css">
    <link rel="stylesheet" href="../../style/style.css">

    <!-- Local JS -->
    <script src="../../js/script.js"></script>
    <script src="../../js/rosaria.js"></script>
  </head>
  <body onload="bodyContentFadeIn();">
    <div class="container">
      <header>
        <h1 class="title">Fase 2</h1>
      </header>

      <main class="center">
        <section class="text-wrapper box">
          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              Não será necessário querido, ele já está saindo do carro e vindo até aqui.
            </span>
          </p>

          <p class="conversation">
            John olha em direção ao carro e um policial, fardado, usando uma capa contra a chuva é visto indo em direção ao casal.
            Meio desajeitado e sem entender muito bem o do porquê de estar ali, ele chega perto do casal e se apresenta.
          </p>

          <p class="conversation conversation--brad">
            <strong class="conversation__name">[BRAD HAMILTON]</strong>
            <span class="conversation__dash">
              Olá, meu nome é Brad Hamilton e trabalho no departamento de policia de Harrisville, fui mandado aqui para acompanhar
              vocês nessa <q>aventura</q>, e eu já conheço vocês, os famosos Form...
            </span>
          </p>

          <p class="conversation">
            Ele estende a mão direita para cumprimentar ambos, mas só John o cumprimenta.
          </p>

          <p class="conversation conversation--john">
            <strong class="conversation__name">[JOHN FORM]</strong>
            <span class="conversation__dash">
              Quem o mandou aqui? Padre Gordon ou o prefeito decidiu que seria uma ótima ideia ter um policial guarda-costas, mesmo
              sabendo que a gente gosta de trabalhar sozinhos?
            </span>
          </p>

          <p class="conversation conversation--brad">
            <strong class="conversation__name">[BRAD HAMILTON]</strong>
            <span class="conversation__dash">
              Quem me enviou não interessa muito, só estou fazendo o meu trabalho. Você acha que eu gostaria de estar aqui? Ainda mais
              com esse tempo? As histórias sobre essa tal <q>casa demoníaca</q> não passam de falácias mal contatas que apenas os mais
              leigos acreditam. Eu não acredito em nada disso.
            </span>
          </p>

          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              Você não possui a fé necessária para estar presente neste caso, senhor policial, eu sinto uma alma fraca e ignorante em
              ti. A melhor coisa para você seria se afastar e deixar a gente cuidar do caso sozinhos.
            </span>
          </p>

          <p class="conversation conversation--brad">
            <strong class="conversation__name">[BRAD HAMILTON]</strong>
            <span class="conversation__dash">
              Que nada dona, pode ficar tranquila que eu sei o que faço. Além do mais eu quero ver se algum fantasma metido a besta
              vai querer mexer comigo estando armado com a minha .40, vulgo a <q>matadora de fantasmas</q>! Mas então iremos entrar nessa
              maldita casa agora ou não? Essa chuva está devastadora.
            </span>
          </p>

          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              Faça o que você quiser, mas não diga que não avisei.
            </span>
          </p>

          <p class="conversation">
            Os três decidem entrar na casa e o primeiro cômodo parece ser uma espécie de sala, não dá pra distinguir muito bem, está
            escuro, apenas com a lanterna de Brad para iluminar o caminho. Imediatamente você sente que algo não estava certo. Uma
            atmosfera densa circundava o local. O mal estava ali, querendo se comunicar. Você fica tonta e desmaia.
          </p>

          <p class="conversation">
            Como num sonho maldito, você está tendo uma visão. Você está na casa e ainda é noite mas é como se ela estivesse viva
            novamente, há um senhor sentado em uma cadeira de balanço em um canto da sala cantarolando três letras sem parar:
            <q><strong>VLK</strong></q>.
          </p>
          <hr>
          <button class="btn" type="button"
            onclick="handleRosariaSecondPhaseChoice();"
          >
            Faça sua escolha!
          </button>
        </section>
      </main>
    </div>
  </body>
</html>
