<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Rosaria Form | Invocação do Mal: A Possessão de Valak</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/base.css">
    <link rel="stylesheet" href="../../style/style.css">

    <!-- Local JS -->
    <script src="../../js/script.js"></script>
    <script src="../../js/rosaria.js"></script>
  </head>
  <body onload="bodyContentFadeIn();">
    <div class="container">
      <header>
        <h1 class="title">Fase 3</h1>
      </header>

      <main class="center">
        <section class="text-wrapper box">
          <p class="conversation">
            Você decide se aproximar do senhor, que cantarolava felizmente suas três sílabas enquanto olhava para frente, como que
            perdido em seus próprios pensamentos.
          </p>

          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              Olá, senhor? O que você quer dizer com essas três letras? <q>VLK</q>, isso me lembra de um nome, mas não sei dizer
              exatamente qual. Um nome vil e mal.
            </span>
          </p>

          <p class="conversation">
            O senhor não responde nada de início e então lentamente vira seu rosto para você, ele sorri e responde que é um nome que
            um dia alguém contou para ele, e desde então ele sempre canta essas letras para lembrar-se. Ele também diz que além
            dessas três letras, havia algo à mais, uma espécie de charada: <q><strong>Eu sou dado e sou tomado. Eu estava lá no seu
            primeiro suspiro. Você não pediu, mas eu sigo você até a morte</strong></q>. Você não entende muito bem aquilo, mas
            tem uma noção do que pode ser, só não sabe como usar essa informação.
          </p>

          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              Quem é você e porquê está me contando isso tudo? Essas informações...
            </span>
          </p>

          <p class="conversation">
            Ele apenas diz que é um ser querendo paz, e que qualquer coisa que possa ajudá-lo a sair daquele limbo vai ser útil.
            <br>
            De repente, um ser maligno aparece atrás dele e coloca a mão no ombro do senhor, como que para impedir que ele
            continuasse a história. Então o senhor e o ser vil some dali como num piscar de olhos, e aparece bem à sua frente como
            que num teleporte demoníaco.
          </p>

          <p class="conversation">
            Você se assusta e acorda. Você está de volta à realidade, John está correndo em sua direção desesperado enquanto você está com um canivete na mão, e então você nota que escreveu na parede as letras: <strong>VLK</strong>.
          </p>

          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              Oh John, o que aconteceu por aqui? Tive outra visão e encontrei um senhor que estava cantarolando exatamente essas três
              letras. De onde surgiu este canivete? E cadê o Brad?
            </span>
          </p>

          <p class="conversation conversation--john">
            <strong class="conversation__name">[JOHN FORM]</strong>
            <span class="conversation__dash">
              Não sei meu amor, aconteceu tudo muito rápido. De repente você tinha desmaiado e o Brad tinha corrido para <strong>algum
              outro cômodo</strong>, com medo, após você ter corrido para cima dele, ter pego o canivete dele e quase ter matado o
              coitado. E eu só conseguia me preocupar com você, você está bem?
            </span>
          </p>

          <p class="conversation conversation--rosaria">
            <strong class="conversation__name">[ROSARIA FORM]</strong>
            <span class="conversation__dash">
              Estou bem sim, mas então cadê ele!? Você sabe que ele não pode ficar sozinho nesta casa, tem um ser maligno rondando por
              aqui esperando o momento certo para atacar.
            </span>
          </p>

          <p class="conversation conversation--john">
            <strong class="conversation__name">[JOHN FORM]</strong>
            <span class="conversation__dash">
              Não sei te dizer, eu sei que ele correu para aquele lado. O que você acha que devemos fazer?
            </span>
          </p>
          <hr>
          <button class="btn" type="button"
            onclick="handleRosariaThirdPhaseChoice();"
          >
            Faça sua escolha!
          </button>
        </section>
      </main>
    </div>
  </body>
</html>
